@import "tailwindcss";
@layer base {
  :root {
    --background: #f9fafb;
    --primary: #3b82f6;
    --accent: #f97316;
    --foreground: #111827;
    --card-bg: #ffffff;
    --card-hover-bg: #f3f4f6;
  }

  [data-theme="dark"] {
    --background: #0f172a;
    --primary: #60a5fa;
    --accent: #fb923c;
    --foreground: #f8fafc;
    --card-bg: #1e293b;
    --card-hover-bg: #334155;
  }

  .text-foreground {
    color: var(--foreground);
  }

  .bg-background {
    background-color: var(--background);
  }

  .text-primary {
    color: var(--primary);
  }

  .bg-primary {
    background-color: var(--primary);
  }

  .text-accent {
    color: var(--accent);
  }

  .bg-accent {
    background-color: var(--accent);
  }

  .bg-card {
    background-color: var(--card-bg);
  }

  .bg-card-hover:hover {
    background-color: var(--card-hover-bg);
  }

  html,
  body {
    @apply transition-colors duration-500 ease-in-out;
    background-color: var(--background);
    font-family: "Ubuntu Mono";
  }

  .ubuntu-mono-regular {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .ubuntu-mono-bold {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }

  .ubuntu-mono-regular-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }

  .ubuntu-mono-bold-italic {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }
}
